@media print {
  @page title {
    margin: 0;
  }

  @page {
    size: A4 landscape;

    @top-left-corner {
      content: element(pageMarginTopLeftCorner);
    }

    @top-left {
      content: element(pageMarginTopLeft);
    }

    @top-center {
      content: element(pageMarginTopCenter);
    }

    @top-right {
      content: element(pageMarginTopRight);
      font-size: x-small;
    }

    @top-right-corner {
      content: element(pageMarginTopRightCorner);
    }

    @left-top {
      content: element(pageMarginLeftTop);
    }

    @left-middle {
      content: element(pageMarginLeftMiddle);
    }

    @left-bottom {
      content: element(pageMarginLeftBottom);
    }

    @right-top {
      content: element(pageMarginRightTop);
    }

    @right-middle {
      content: element(pageMarginRightMiddle);
    }

    @right-bottom {
      content: element(pageMarginRightBottom);
    }

    @bottom-left-corner {
      content: element(pageMarginBottomLeftCorner);
    }

    @bottom-left {
      content: element(pageMarginBottomLeft);
    }

    @bottom-center {
      content: element(pageMarginBottomCenter);
      font-size: x-small;
    }

    @bottom-right {
      content: element(pageMarginBottomRight);
    }

    @bottom-right-corner {
      content: element(pageMarginBottomRightCorner);
    }
  }
}

.title-page {
  page: title;
}

[data-running-role] {
  display: block;
  margin: 0;
  padding: 0;
}

[data-running-role='top-left-corner'] {
  position: running(pageMarginTopLeftCorner);
}

[data-running-role='top-left'] {
  position: running(pageMarginTopLeft);
}

[data-running-role='top-center'] {
  position: running(pageMarginTopCenter);
}

[data-running-role='top-right'] {
  position: running(pageMarginTopRight);
}

[data-running-role='top-right-corner'] {
  position: running(pageMarginTopRightCorner);
}

[data-running-role='left-top'] {
  position: running(pageMarginLeftTop);
}

[data-running-role='left-middle'] {
  position: running(pageMarginLeftMiddle);
}

[data-running-role='left-bottom'] {
  position: running(pageMarginLeftBottom);
}

[data-running-role='right-top'] {
  position: running(pageMarginRightTop);
}

[data-running-role='right-middle'] {
  position: running(pageMarginRightMiddle);
}

[data-running-role='right-bottom'] {
  position: running(pageMarginRightBottom);
}

[data-running-role='bottom-left-corner'] {
  position: running(pageMarginBottomLeftCorner);
}

[data-running-role='bottom-left'] {
  position: running(pageMarginBottomLeft);
}

[data-running-role='bottom-center'] {
  position: running(pageMarginBottomCenter);
}

[data-running-role='bottom-right'] {
  position: running(pageMarginBottomRight);
}

[data-running-role='bottom-right-corner'] {
  position: running(pageMarginBottomRightCorner);
}

/* footer */
.pagedjs_margin .pagedjs_margin-bottom-right .pagedjs_margin-content,
.pagedjs_margin .pagedjs_margin-bottom-left .pagedjs_margin-content,
.pagedjs_margin .pagedjs_margin-bottom-center .pagedjs_margin-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2mm;
}

.pagedjs_margin .pagedjs_margin-bottom-left .pagedjs_margin-content {
  justify-content: flex-start;
}

.pagedjs_margin .pagedjs_margin-bottom-right .pagedjs_margin-content {
  justify-content: flex-end;
}

[data-type='table-of-contents'] li p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  text-wrap: nowrap;
}

/* Adjust orders for remaining elements */
[data-type='table-of-contents'] li p::before {
  order: 2;
  content: '. . . . . . . . . . . . . . . . . . . . ' '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . ' '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . ';
  overflow: hidden;
  text-wrap: nowrap;
}

/*
In the CSS, the target-counter property is used within ::before and ::after pseudo-elements, 
using the content property. It can be translated as: find the counter named page that appears 
where you find the element we're targetting with the attribute data-toc-id-selector:
*/
[data-type='table-of-contents'] li p::after {
  order: 3;
  display: flex;
  content: target-counter(attr(data-toc-id-selector), page);
  background-color: white;
  padding-left: 2mm;
}
